@use "../abstracts" as abs;

.profile {
  margin-top: 30px;
}

.profile-user {
  border-radius: 20px;
  background: var(--profile-user-bg-color);
  box-shadow: var(--profile-user-shadow);

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%),
      url(../images/profile/profile-bg-user.png) no-repeat center/cover;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 20px;
  }

  &__avatar {
    margin-top: 40px;
    width: 126px;
    height: 126px;
    object-fit: contain;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
    background-color: #dfd2fa;
    box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
  }

  &__heading {
    margin-top: 20px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 144.444%;
  }

  &__date {
    margin-top: 2px;
    color: #fafafd;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__bottom {
    padding: 30px;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
  }

  &__list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.profile-info {
  padding: 30px;
  border-radius: 20px;
  background: var(--profile-info-bg-color);
  box-shadow: var(--profile-info-shadow);

  &__heading {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 141.667%;

    & ~ & {
      margin-top: 30px;
    }
  }

  &__desc {
    margin-top: 4px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 146.667%;
  }

  .credit-cards {
    margin-top: 16px;
  }

  &__tags {
    margin-top: 16px;
  }

  &__carts {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

.profile-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background: var(--profile-tag-bg-color);

  &__icon-wrap {
    width: 54px;
    height: 54px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: var(--profile-tag-icon-wrap-bg-color);
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__desc {
    margin-top: 6px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
  }
}

.profile-cart {
  display: flex;
  gap: 20px;
  &__thumb {
    width: 150px;
    object-fit: contain;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__act {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;

    @include abs.screen(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__price {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;
  }

  &__btn {
    width: 126px;
    height: 42px;
    color: #1a162e;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__separate {
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    background-color: #d2d1d6;
  }
}
