@use "../abstracts" as abs;

.header {
  background-color: var(--header-bg-color);
  padding: 30px 0;
  @include abs.screen(lg) {
    padding: 16px 0;
    box-shadow: var(--header-shadow-color);
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

    .navbar__link {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;
      padding: 0 15px;

      @include abs.screen(lg) {
        padding: 0;
        justify-content: space-between;
        font-size: 1.6rem;
        line-height: 150%;
      }
    }

    .navbar {
      display: flex;
      &__item {
        &:hover .dropdown {
          display: block;

          @include abs.screen(lg) {
            display: none;
          }
        }

        &:hover .navbar__arrow {
          opacity: 0;

          @include abs.screen(lg) {
            opacity: 1;
          }
        }

        @include abs.screen(lg) {
          &--active .dropdown {
            display: block !important;
          }

          &--active .navbar__arrow {
            rotate: initial;
          }
        }
      }

      &__arrow-left {
        display: none;

        @include abs.screen(lg) {
          display: block;
        }
      }

      &__btn {
        align-items: center;

        span:first-of-type {
          margin-left: 15px;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 146.667%;
        }

        span:last-of-type {
          margin-left: auto;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 146.667%;
        }
      }

      @include abs.screen(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        background-color: var(--dropdown-bg-color);
        box-shadow: var(--dropdown-shadow);
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        translate: -100%;
        transition: translate 0.5s ease;
        z-index: 9;
        border-radius: 0px 20px 20px 0px;

        &.show {
          translate: 0;
        }

        &.hide {
          box-shadow: none;
        }

        &.show + div {
          visibility: visible;
          opacity: 1;
        }
      }

      @include abs.screen(md) {
        inset: 0 20% 0 0;
      }
    }

    .navbar__list {
      display: flex;

      @include abs.screen(lg) {
        flex-direction: column;
        row-gap: 20px;
        overflow-y: auto;
        height: calc(100% - 30px);
        overscroll-behavior: contain;
      }

      @include abs.screen(md) {
        height: calc(100% - 150px);
      }

      @include abs.screen(sm) {
        height: calc(100% - 130px);
      }
    }

    .navbar__arrow {
      margin-top: 3px;

      @include abs.screen(lg) {
        rotate: -90deg;
        transition: rotate 0.25s ease;
      }
    }

    .header__search {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--header-bg-cta);
      border: none;
      width: 50px;
      height: 50px;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: var(--header-shadow-cta);

      @include abs.screen(lg) {
        display: none;
      }
    }

    .header__action {
      display: flex;
      gap: 20px;
    }

    .header-cart-group {
      border-radius: 8px;
      display: flex;
      box-shadow: var(--header-shadow-cta);

      @include abs.screen(md) {
        display: none;
      }
    }

    .header-cart-group__btn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: none;
      background-color: var(--header-bg-cta);
      padding: 10px 20px;
    }

    .header-cart-group__btn:first-child {
      position: relative;
      border-radius: 8px 0 0 8px;
    }

    .header-cart-group__btn:last-child {
      border-radius: 0 8px 8px 0;
    }

    .header-cart-group__separate {
      position: absolute;
      left: 100%;
      width: 1px;
      height: 60%;
      background-color: #ededf6;
    }

    .header-cart-group__title {
      font-size: 1.5rem;
      font-weight: 500;
      font-family: Gordita;
    }

    .header__user {
      width: 50px;
      height: 50px;
      object-fit: cover;
      background-color: #dfd2fa;
      border-radius: 8px;
      cursor: pointer;
    }

    .header__content-right {
      display: flex;
      gap: 20px;
    }
  }

  &__sign-up {
    @include abs.screen(md) {
      height: 40px !important;
      font-size: 1.5rem !important;
      padding: 0 15px !important;
    }
  }
}

.navbar-overlay-mobile {
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition: 0.1s ease;

  @include abs.screen(lg) {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: 1;
  }
}
