@use "../abstracts" as abs;

.header {
  background-color: var(--header-bg-color);
  padding: 30px 0;
  @include abs.screen(lg) {
    padding: 16px 0;
    box-shadow: var(--header-shadow-color);
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;

    .navbar__link {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;
      padding: 0 15px;

      @include abs.screen(lg) {
        padding: 0;
        justify-content: space-between;
        font-size: 1.6rem;
        line-height: 150%;
      }
    }

    .navbar {
      display: flex;
      &__item {
        &:hover .dropdown {
          display: block;

          @include abs.screen(lg) {
            display: none;
          }
        }

        &:hover .navbar__arrow {
          opacity: 0;

          @include abs.screen(lg) {
            opacity: 1;
          }
        }

        @include abs.screen(lg) {
          &--active .dropdown {
            display: block !important;
          }

          &--active .navbar__arrow {
            rotate: initial;
          }
        }
      }

      &__arrow-left {
        display: none;

        @include abs.screen(lg) {
          display: block;
        }
      }

      &__btn {
        align-items: center;

        span:first-of-type {
          margin-left: 15px;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 146.667%;
        }

        span:last-of-type {
          margin-left: auto;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 146.667%;
        }
      }

      @include abs.screen(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        background-color: var(--dropdown-bg-color);
        box-shadow: var(--dropdown-shadow);
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;
        translate: -100%;
        transition: translate 0.5s ease;
        z-index: 9;
        border-radius: 0px 20px 20px 0px;

        &.show {
          translate: 0;
        }

        &.hide {
          box-shadow: none;
        }

        &.show + div {
          visibility: visible;
          opacity: 1;
        }
      }

      @include abs.screen(md) {
        inset: 0 20% 0 0;
      }
    }

    .navbar__list {
      display: flex;

      @include abs.screen(lg) {
        flex-direction: column;
        row-gap: 20px;
        overflow-y: auto;
        height: calc(100% - 30px);
        overscroll-behavior: contain;
      }

      @include abs.screen(md) {
        height: calc(100% - 150px);
      }

      @include abs.screen(sm) {
        height: calc(100% - 130px);
      }
    }

    .navbar__arrow {
      margin-top: 3px;

      @include abs.screen(lg) {
        rotate: -90deg;
        transition: rotate 0.25s ease;
      }
    }

    .header__search {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--header-bg-cta);
      border: none;
      width: 50px;
      height: 50px;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: var(--header-shadow-cta);

      @include abs.screen(lg) {
        display: none;
      }
    }

    .header__action {
      display: flex;
      gap: 20px;
    }

    .header-cart-group {
      border-radius: 8px;
      display: flex;
      box-shadow: var(--header-shadow-cta);

      @include abs.screen(md) {
        display: none;
      }
    }

    .header-cart-group__btn {
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: none;
      background-color: var(--header-bg-cta);
      padding: 10px 20px;
    }

    .header-cart-group__btn:first-child {
      position: relative;
      border-radius: 8px 0 0 8px;

      &:hover .favorite-preview {
        opacity: 1;
        visibility: visible;
      }
    }

    .header-cart-group__btn:last-child {
      border-radius: 0 8px 8px 0;

      &:hover .cart-preview {
        opacity: 1;
        visibility: visible;
      }
    }

    .header-cart-group__separate {
      position: absolute;
      left: 100%;
      width: 1px;
      height: 60%;
      background-color: #ededf6;
      z-index: 1;
    }

    .header-cart-group__title {
      font-size: 1.5rem;
      font-weight: 500;
      font-family: Gordita;
    }

    .header__user {
      width: 50px;
      height: 50px;
      object-fit: cover;
      background-color: #dfd2fa;
      border-radius: 8px;
      cursor: pointer;

      &-wrap {
        position: relative;

        .act-dropdown {
          right: -17px;
          width: min(300px, 100vw);
        }

        .act-dropdown__arrow {
          right: 20px;
        }
      }

      &-wrap:hover .user-dropdown {
        opacity: 1;
        visibility: visible;
      }
    }

    .header__content-right {
      display: flex;
      gap: 20px;
    }
  }

  &__sign-up {
    @include abs.screen(md) {
      height: 40px !important;
      font-size: 1.5rem !important;
      padding: 0 15px !important;
    }
  }
}

.navbar-overlay-mobile {
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition: 0.1s ease;

  @include abs.screen(lg) {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: 1;
  }
}

.act-dropdown {
  width: min(645px, 100vw);
  position: absolute;
  top: 100%;
  right: -60px;
  padding-top: 27px;
  cursor: initial;
  user-select: text;
  transition: opacity 0.2s, visibility 0.2s;
  opacity: 0;
  visibility: hidden;

  &__inner {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    background: var(--act-dropdown-bg-color);
    box-shadow: var(--act-dropdown-shadow);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;
  }

  &__link {
    color: #0071dc;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 145.455%;
  }

  &__list {
    margin-top: 30px;
  }

  &__separate {
    margin: 30px 0;
    width: 100%;
    height: 1px;
    background-color: #d2d1d6;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 145.455%;

    &--bold {
      font-weight: 500;
    }
  }

  &__checkout {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    color: #1a162e;
    width: 278px;
    height: 68px !important;
    font-size: 2.2rem !important;
    font-weight: 500 !important;
  }

  &__arrow {
    position: absolute;
    top: -17px;
    right: 104px;
    width: 40px;
    object-fit: cover;
    filter: var(--filter-arrow-up-color);
  }
}

.user-dropdown {
  &__top {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__name {
    margin-bottom: 8px;
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: #dfd2fa;
    border-radius: 8px;
    cursor: pointer;
  }

  &__list {
    margin-top: 30px;
  }

  &__item {
    padding: 15px 0;

    &:nth-child(3),
    &:last-child {
      border-top: solid 1px #d2d1d6;
    }

    &:nth-child(3) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__link {
    display: block;
    flex: 1;
  }
}

.cart-preview-item {
  text-align: left;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 10px;

    &-wrap {
      position: relative;
      padding-top: 100%;
    }
  }

  &__title {
    margin-top: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
  }

  &__price {
    margin-top: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }
}
