@use "../abstracts" as abs;

:root {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(66%)
    saturate(617%) hue-rotate(210deg) brightness(96%) contrast(96%);

  // Header
  --header-bg-color: #eeeeee;
  --header-bg-cta: #ffffff;
  --header-shadow-cta: 0px 20px 60px 10px rgba(237, 237, 246, 0.2) 0px 20px 60px
    10px rgba(237, 237, 246, 0.2);

  // Body
  --body-bg-color: #f6f6f6;

  // Drop-Down
  --dropdown-bg-color: #fff;
  --dropdown-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(100%) sepia(100%)
    saturate(1%) hue-rotate(251deg) brightness(107%) contrast(100%);

  //  Cate Item
  --cate-item-img-bg-color: #fff;
  --cate-item-bg-color: #eeeeee;

  // Product Card
  --product-card-bg-color: #fff;
  --product-card-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

  //  Like Button
  --like-btn-bg-color: #fff;

  // Filter
  --filter-btn-color-text: #6c6c72;
  --filter-btn-bg-color: #fff;
  --filter-bg-color: #fff;
  --filter-shadow: (0px 40px 90px rgba(200, 200, 200, 0.4));
  --filter-arrow-up-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7491%) hue-rotate(118deg) brightness(107%) contrast(100%);
  --filter-bg-tag-color: #f8f8fb;

  // Footer
  --footer-bg-color: #87dae6;

  // Auth
  --auth-intro-bg-color: #f6f6f6;
  --auth-content-bg-color: #fff;

  // Breadcrumbs
  --breadcrumbs-bg-color: #f6f6f6;
  --breadcrumbs-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  --breadcrumbs-checkout-bg-color: #fff;

  // Product-page
  --product-page-bg-color: #fff;

  // Product Detail
  --product-info-bg-color: #f6f6f6;
  --product-info-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  --product-bg-color: transparent;
  --product-size-tag-bg-color: #ededf6;

  // Search Bar
  --search-bar-bg-color: #fff;

  // Product Tab
  --product-tab-item-active: #1a162e;

  // Review Card
  --review-card-bg-color: #fafafd;

  // Act Dropdown
  --act-dropdown-bg-color: #fff;
  --act-dropdown-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);

  // Dialog
  --dialog-bg-color: #fff;
  --dialog-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

  // Checkout
  --cart-info-bg-color: #fff;
  --cart-info-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

  // Shipping
  --shipping-checkbox-uncheck: url("../icons/checkbox-uncheck.svg");

  @include abs.screen(lg) {
    --header-bg-color: #fff;
    --header-shadow-color: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  }

  @include abs.screen(sm) {
    --cate-item-bg-color: #fff;
    --product-info-bg-color: #fff;
    --product-page-bg-color: #fafafd;
    --breadcrumbs-bg-color: #fff;
    --product-bg-color: #fff;
    --review-card-bg-color: #fff;
  }

  @include abs.screen(md) {
    --auth-intro-bg-color: #fff;
  }
}
