:root {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(66%)
    saturate(617%) hue-rotate(210deg) brightness(96%) contrast(96%);
  --header-bg-color: #eeeeee;
  --header-bg-cta: #ffffff;
  --header-shadow-cta: 0px 20px 60px 10px rgba(237, 237, 246, 0.2) 0px 20px 60px
    10px rgba(237, 237, 246, 0.2);
}
