@use "../abstracts" as abs;

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
a,
img,
button,
input,
textarea,
label,
select {
  font-family: inherit;
  color: inherit;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

.icon {
  filter: var(--icon-color);
}

.container {
  @include abs.screen(sm) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
