<div class="container">
  <div class="footer__inner">
    <div class="footer__row">
      <div class="row row-cols-4 row-cols-md-2 row-cols-sm-1">
        <div class="col">
          <h2 class="footer__title">Way to Shop</h2>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#!" class="footer__link">Just Arrived</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Bestsellers</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Gift Cards</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Store Locations</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Book a Reservation</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Google Home</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h2 class="footer__title">Help & FAQs</h2>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#!" class="footer__link">Online Ordering</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Shipping</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Billing</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Returns & Exchanges</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">International Shipments</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Customer Service</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Accessibility</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h2 class="footer__title">About Us</h2>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#!" class="footer__link">About Us</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Careers</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Sitemap</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Newsroom</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Loves</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Contact Us</a>
            </li>
          </ul>
        </div>

        <div class="col">
          <h2 class="footer__title">My Store</h2>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#!" class="footer__link">My Account</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Order Status</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Beauty Insider</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Supply Chain Transparency</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Flash Unlimited Shipping</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Rewards Bazaar</a>
            </li>
            <li class="footer__item">
              <a href="#!" class="footer__link">Download the App </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__row">
      <div class="footer__email-block">
        <span class="footer__email-text">Sign up for Store Emails:</span>
        <div>
          <input
            type="email"
            placeholder="Email address"
            name=""
            id=""
            class="footer__email"
          />
          <button class="btn--primary footer__arrow-right-wrap">
            <img
              src="./assets/icons/arrow-right.svg"
              alt=""
              class="footer__arrow-right"
            />
          </button>
        </div>
      </div>

      <div class="footer__region-block">
        <span class="footer__email-text">Choose Region:</span>

        <div class="footer__select">
          <span class="footer__select-option">United States</span>
          <img
            src="./assets/icons/arrow-down.svg"
            alt=""
            class="footer__arrow-down"
          />
        </div>
      </div>

      <div class="footer__icons">
        <a href="#!"
          ><img src="./assets/icons/facebook.svg" alt="" class="footer__icon"
        /></a>
        <a href="#!"
          ><img src="./assets/icons/twitter.svg" alt="" class="footer__icon"
        /></a>
        <a href="#!"
          ><img src="./assets/icons/skype.svg" alt="" class="footer__icon"
        /></a>
        <a href="#!"
          ><img src="./assets/icons/instagram.svg" alt="" class="footer__icon"
        /></a>
      </div>
    </div>

    <p class="footer__copy-right">Copyright © 2008 - 2023 GroceryMart.com</p>
  </div>
</div>
