<div class="container">
  <div class="header__inner">
    <!-- More Mobile -->
    <label class="header__more-moible icon" for="">
      <img src="./assets/icons/more.svg" alt="" />
    </label>

    <a href="./" class="logo">
      <img src="./assets/icons/Icon.svg" alt="" class="logo__img" />
      <h1 class="logo__title">grocerymart</h1>
    </a>

    <nav class="navbar">
      <ul class="navbar__list js-dropdown-list">
        <li class="navbar__item">
          <a href="#!" class="navbar__link"
            >Departments
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="navbar__arrow icon"
            />
          </a>

          <div class="dropdown">
            <div class="dropdown__inner">
              <div class="dropdown__main">
                <!-- Menu Column -->
                <div class="menu-column">
                  <div class="menu-column__icon">
                    <img
                      src="./assets/images/category/cate-1.1.svg"
                      alt=""
                      class="menu-column__icon-1"
                    />
                    <img
                      src="./assets/images/category/cate-1.2.svg"
                      alt=""
                      class="menu-column__icon-2 icon"
                    />
                  </div>
                  <div class="menu-column__content">
                    <h2 class="menu-column__heading">All Departments</h2>
                    <ul class="menu-column__list">
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link"
                          >Savings & Featured Shops
                        </a>
                        <div class="sub-menu">
                          <!-- Sub Menu Column 1 -->
                          <div class="sub-menu__column">
                            <div class="sub-menu__row">
                              <div class="sub-menu__icon">
                                <img
                                  src="./assets/images/category/cate-2.1.svg"
                                  alt=""
                                  class="sub-menu__icon-1"
                                />
                                <img
                                  src="./assets/images/category/cate-2.2.svg"
                                  alt=""
                                  class="sub-menu__icon-2 icon"
                                />
                              </div>
                              <div class="sub-menu__content">
                                <h2 class="sub-menu__heading">TV & Video</h2>
                                <ul class="sub-menu__list">
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Shop all TVs</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >TVs by Size</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Smart TVs</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Roku TVs</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Streaming</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >TV Mounts & Accessories</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >DVD & Blu-Ray Players</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>

                            <div class="sub-menu__row">
                              <div class="sub-menu__icon">
                                <img
                                  src="./assets/images/category/cate-3.1.svg"
                                  alt=""
                                  class="sub-menu__icon-1"
                                />
                                <img
                                  src="./assets/images/category/cate-3.2.svg"
                                  alt=""
                                  class="sub-menu__icon-2 icon"
                                />
                              </div>
                              <div class="sub-menu__content">
                                <h2 class="sub-menu__heading">
                                  Wearable Technology
                                </h2>
                                <ul class="sub-menu__list">
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Galaxy Watch</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Apple Watch</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Fitness Trackers</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Virtual Reality</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Headphones</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <!-- Sub Menu Column 2 -->
                          <div class="sub-menu__column">
                            <div class="sub-menu__row">
                              <div class="sub-menu__icon">
                                <img
                                  src="./assets/images/category/cate-4.1.svg"
                                  alt=""
                                  class="sub-menu__icon-1"
                                />
                                <img
                                  src="./assets/images/category/cate-4.2.svg"
                                  alt=""
                                  class="sub-menu__icon-2 icon"
                                />
                              </div>
                              <div class="sub-menu__content">
                                <h2 class="sub-menu__heading">Computers</h2>
                                <ul class="sub-menu__list">
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Shop All Computers</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Laptops</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >PC Gaming</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Monitors</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Chromebook</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Printers & Ink</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Shop all TVs</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Computer Accessories</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Desktops</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Tax Software</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Computer Software</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >PC Finder</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <!-- Sub Menu Column 3 -->
                          <div class="sub-menu__column">
                            <div class="sub-menu__row">
                              <div class="sub-menu__icon">
                                <img
                                  src="./assets/images/category/cate-5.1.svg"
                                  alt=""
                                  class="sub-menu__icon-1"
                                />
                                <img
                                  src="./assets/images/category/cate-5.2.svg"
                                  alt=""
                                  class="sub-menu__icon-2 icon"
                                />
                              </div>
                              <div class="sub-menu__content">
                                <h2 class="sub-menu__heading">Savings</h2>
                                <ul class="sub-menu__list">
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Tech Savings</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Overstock Savings</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Tech Rollbacks</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>

                            <div class="sub-menu__row">
                              <div class="sub-menu__icon">
                                <img
                                  src="./assets/images/category/cate-6.1.svg"
                                  alt=""
                                  class="sub-menu__icon-1"
                                />
                                <img
                                  src="./assets/images/category/cate-6.2.svg"
                                  alt=""
                                  class="sub-menu__icon-2 icon"
                                />
                              </div>
                              <div class="sub-menu__content">
                                <h2 class="sub-menu__heading">Cell Phones</h2>
                                <ul class="sub-menu__list">
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Wireless Deals</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >5G Phones
                                    </a>
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Prepaid Phones & Plans
                                    </a>
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Refurbished Phones</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >iPhone Accessories</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Cases & Screen Protectors</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Walmart Protection Plan</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Unlocked Phones</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link">Electronics</a>
                        <div class="sub-menu">
                          <!-- Sub Menu Column 1 -->
                          <div class="sub-menu__column">
                            <div class="sub-menu__row">
                              <div class="sub-menu__icon">
                                <img
                                  src="./assets/images/category/cate-2.1.svg"
                                  alt=""
                                  class="sub-menu__icon-1"
                                />
                                <img
                                  src="./assets/images/category/cate-2.2.svg"
                                  alt=""
                                  class="sub-menu__icon-2 icon"
                                />
                              </div>
                              <div class="sub-menu__content">
                                <h2 class="sub-menu__heading">TV & Video</h2>
                                <ul class="sub-menu__list">
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Shop all TVs</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >TVs by Size</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Smart TVs</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Roku TVs</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Streaming</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >TV Mounts & Accessories</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >DVD & Blu-Ray Players</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>

                            <div class="sub-menu__row">
                              <div class="sub-menu__icon">
                                <img
                                  src="./assets/images/category/cate-3.1.svg"
                                  alt=""
                                  class="sub-menu__icon-1"
                                />
                                <img
                                  src="./assets/images/category/cate-3.2.svg"
                                  alt=""
                                  class="sub-menu__icon-2 icon"
                                />
                              </div>
                              <div class="sub-menu__content">
                                <h2 class="sub-menu__heading">
                                  Wearable Technology
                                </h2>
                                <ul class="sub-menu__list">
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Galaxy Watch</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Apple Watch</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Fitness Trackers</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Virtual Reality</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Headphones</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <!-- Sub Menu Column 2 -->
                          <div class="sub-menu__column">
                            <div class="sub-menu__row">
                              <div class="sub-menu__icon">
                                <img
                                  src="./assets/images/category/cate-4.1.svg"
                                  alt=""
                                  class="sub-menu__icon-1"
                                />
                                <img
                                  src="./assets/images/category/cate-4.2.svg"
                                  alt=""
                                  class="sub-menu__icon-2 icon"
                                />
                              </div>
                              <div class="sub-menu__content">
                                <h2 class="sub-menu__heading">Computers</h2>
                                <ul class="sub-menu__list">
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Shop All Computers</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Laptops</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >PC Gaming</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Monitors</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Chromebook</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Printers & Ink</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Shop all TVs</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Computer Accessories</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Desktops</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Tax Software</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Computer Software</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >PC Finder</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <!-- Sub Menu Column 3 -->
                          <div class="sub-menu__column">
                            <div class="sub-menu__row">
                              <div class="sub-menu__icon">
                                <img
                                  src="./assets/images/category/cate-5.1.svg"
                                  alt=""
                                  class="sub-menu__icon-1"
                                />
                                <img
                                  src="./assets/images/category/cate-5.2.svg"
                                  alt=""
                                  class="sub-menu__icon-2 icon"
                                />
                              </div>
                              <div class="sub-menu__content">
                                <h2 class="sub-menu__heading">Savings</h2>
                                <ul class="sub-menu__list">
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Tech Savings</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Overstock Savings</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Tech Rollbacks</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>

                            <div class="sub-menu__row">
                              <div class="sub-menu__icon">
                                <img
                                  src="./assets/images/category/cate-6.1.svg"
                                  alt=""
                                  class="sub-menu__icon-1"
                                />
                                <img
                                  src="./assets/images/category/cate-6.2.svg"
                                  alt=""
                                  class="sub-menu__icon-2 icon"
                                />
                              </div>
                              <div class="sub-menu__content">
                                <h2 class="sub-menu__heading">Cell Phones</h2>
                                <ul class="sub-menu__list">
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Wireless Deals</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >5G Phones
                                    </a>
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Prepaid Phones & Plans
                                    </a>
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Refurbished Phones</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >iPhone Accessories</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Cases & Screen Protectors</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Walmart Protection Plan</a
                                    >
                                  </li>
                                  <li class="sub-menu__item">
                                    <a href="#!" class="sub-menu__link"
                                      >Unlocked Phones</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link"
                          >Clothing, Shoes & Accessories</a
                        >
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link"
                          >Home, Furniture & Appliances</a
                        >
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link"
                          >Toys & Video Games</a
                        >
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link"
                          >Home Improvement</a
                        >
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link">Baby</a>
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link"
                          >Household Essentials</a
                        >
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link">Personal Care</a>
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link"
                          >Patio & Garden</a
                        >
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link"
                          >Sports & Outdoors</a
                        >
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link">Gift Cards</a>
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link"
                          >Auto, Tires and Industrial</a
                        >
                      </li>
                      <li class="menu-column__item">
                        <a href="#!" class="menu-column__link"
                          >Movies, Music & Books</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="#!" class="navbar__link"
            >Grocery
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="navbar__arrow icon"
          /></a>
        </li>
        <li class="navbar__item">
          <a href="#!" class="navbar__link"
            >Beauty
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="navbar__arrow icon"
          /></a>
        </li>
      </ul>
    </nav>

    <div class="header__content-right">
      <div class="header__action">
        <button class="header__search">
          <img class="icon" src="./assets/icons/header-search.svg" alt="" />
        </button>

        <div class="header-cart-group">
          <button class="header-cart-group__btn">
            <img
              src="./assets/icons/cart-group-icon-1.svg"
              alt=""
              class="header-cart-group__icon icon"
            />
            <span class="header-cart-group__title">03</span>
            <div class="header-cart-group__separate"></div>
          </button>

          <button class="header-cart-group__btn">
            <img
              src="./assets/icons/cart-group-icon-2.svg"
              alt=""
              class="header-cart-group__icon icon"
            />
            <span class="header-cart-group__title">$65.42</span>
          </button>
        </div>
      </div>

      <img
        src="./assets/images/header-avatar.png"
        alt=""
        class="header__user"
      />
    </div>
  </div>
</div>
